.container{
        width: 50%;
        text-align: center;
        position: absolute;
        top: 30%;
        left: 50%;
        transform: translate(-50%, -50%);
}
.patientTable{
    width: 100%;
    border: 2px solid;
    border-collapse: collapse;
}
.patientTable tr{
    border: 1px solid black;
}